<%= form_for(@vaccination) do |f| %>
  <% if @vaccination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vaccination.errors.count, "error") %> prohibited this vaccination from being saved:</h2>

      <ul>
      <% @vaccination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :id_animal %><br />
    <%= f.text_field :id_animal %>
  </div>
  <div class="field">
    <%= f.label :id_type %><br />
    <%= f.text_field :id_type %>
  </div>
  <div class="field">
    <%= f.label :date_vacc %><br />
    <%= f.date_select :date_vacc %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :check %><br />
    <%= f.text_field :check %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
