<h1>Listing vaccinations</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Id animal</th>
    <th>Id type</th>
    <th>Date vacc</th>
    <th>Notes</th>
    <th>Cost</th>
    <th>Check</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vaccinations.each do |vaccination| %>
  <tr>
    <td><%= vaccination.id %></td>
    <td><%= vaccination.id_animal %></td>
    <td><%= vaccination.id_type %></td>
    <td><%= vaccination.date_vacc %></td>
    <td><%= vaccination.notes %></td>
    <td><%= vaccination.cost %></td>
    <td><%= vaccination.check %></td>
    <td><%= link_to 'Show', vaccination %></td>
    <td><%= link_to 'Edit', edit_vaccination_path(vaccination) %></td>
    <td><%= link_to 'Destroy', vaccination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vaccination', new_vaccination_path %>
